* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo {
    height: 1.5rem;
}

.nav-left,
.nav-center,
.nav-right {
    padding: .8rem 3rem;
    display: flex;
    align-items: center;
}

header i {
    color: #555;
    margin-right: 2.5rem;
}

header a:hover,
.hamburger:hover,
.logo:hover,
.user-icon {
    cursor: pointer;
}

.searchbar,
.btn-search {
    border: 1px solid #bbb;
    height: 2.3rem;
}

.searchbar {
    width: 720px;
    padding: .6rem;
    font-size: 1.2rem;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    outline: none;

}

.btn-search {
    width: 4rem;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    border-left: none;
    outline: none;
    display: flex;
    justify-content: center;
}

.searchbar:focus,
.btn-search:focus {
    border-color: darkblue;
    border-left: 1px solid darkblue;
}

.btn-search i {
    margin: 0 auto;
}

.user-icon {
    outline: none;
    background-color: red;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.3rem;

}



.container {
    display: flex;
    min-height: 90vh;
    padding: 0 8%;
}

main {
    flex: 62%;
}

.video-player iframe {
    height: 68vh;
    width: 100%;
    padding-top: 2rem;
}

.video-details {
    height: 15vh;
}

.description {
    height: 10vh;
}

.recommended-videos {
    flex: 38%;
    padding: 2rem 2rem;
}

.up-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1.5px solid #ccc;
    padding: 1.2rem .3rem .6rem;
}

.up-next span {
    font-size: 1.3rem;
    font-weight: 500;
    color: #444;
}


.video-card {
    display: flex;
    padding: .4rem;
    cursor: pointer;
}

.video-card .thumbnail {
    width: 45%;
}

.video-info {
    padding: 0 1rem;
    line-height: 1.5;
}

.video-info .channel,
.video-info .views {
    color: #555;
}

/* .video-details,
.description,
.comments {
    border: 1px solid red;
} */

.rule {
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin: 1rem 0;

}

/* Video Info Section */
.video-details-info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #777;
    padding: 0;
    font-weight: 500;
    border-bottom: 1.5px solid #ccc;
}

.video-details-title {
    padding: 1rem 0;
    font-weight: 500;
}

.video-info-right {
    display: flex;
    cursor: pointer;
}


.video-info-right span {
    padding: 0 1rem;
}

.video-info-right i {
    padding-right: .9rem;
}

.fa-ellipsis-h {
    margin-left: 1rem;
    align-self: flex-end;
}

.thumbs {
    padding-bottom: 1rem;
    border-bottom: 4px solid #999;
}

/* Video Description Styles */
.description p {
    padding-bottom: 1rem;
    border-bottom: 1.5px solid #ccc;
}

.description-header {
    display: flex;
    justify-content: space-between;
}

.channel-details {
    display: flex;
}

.channel-icon {
    border-radius: 50%;
    width: 4rem;
    margin: 1rem 1rem 1rem 0;
    cursor: pointer;
}

.channel-title {
    font-size: 1.1rem;
    margin: 1.5rem 0 .3rem;
    cursor: pointer;
}

.channel-subscribers {
    color: #666;
}

.subscribe {
    display: flex;
    align-items: center;
}

.btn-subscribe {
    padding: .8rem 1rem;
    color: #555;
    background-color: #ddd;
    outline: none;
    border: none;
    border-radius: .3em;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.subscribe i {
    color: #777;
    padding-left: 1.6rem;
    cursor: pointer;
}

.description-text {
    padding: 0 5rem;
    font-size: 1.1rem;
    line-height: 1.7;
}




/* Toggle Autoplay Switch from W3 Schools */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: flex;
    width: 40px;
    height: 20px;
    align-items: center;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.autoplay-label {
    margin-left: -6rem;
    color: #555;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}